<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Workoutz" Language="1033" Version="1.0.0.0" Manufacturer="Bryan Wolf" UpgradeCode="98ecb282-80cd-4f17-8daf-b0e0ac440a25">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" InstallPrivileges="limited" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" CompressionLevel="high" />

		<Feature Id="ProductFeature" Title="Workoutz" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="Shortcut"/>
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" />
			<Directory Id="AppDataFolder">
				<Directory Id="INSTALLFOLDER" Name="Workoutz" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentGroupRef Id="Workoutz.Binaries" />
		</ComponentGroup>
    <ComponentGroup Id="Shortcut" Directory="DesktopFolder">
      <Component Id="Shortcut" Guid="{8E02B72E-717E-4607-8DD8-369B01DC61D4}">
        <Shortcut Id="LaunchShortcut" Name="Workoutz"  Advertise="yes"  />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>